dtd/com/thomsonwest/codes/publishing/novus.norm.dtd


<!-- DTD: OSR-VERSIONS TOCLOAD -->
<!-- DATE: Nov 11 2003 -->
<!-- VERSION: v1.0 -->
<!-- DTD Comments:  -->


<!-- Revision notes

Revision notes

Date	          Initials	     Ver.   	Description
11 Nov 2003	KG	     (1.0)	          Created.
-->


<!--
        ELEMENT: n-load
        DESCRIPTION: The root element for the file being loaded to Novus
        COMMENTS: 
 -->

<!ELEMENT n-load (n-document | n-node | n-relationship)+>

<!ATTLIST n-load
     dataid CDATA #IMPLIED
>

<!ATTLIST n-load
     verifycollection CDATA #IMPLIED
>

<!ATTLIST n-load
     notify CDATA #IMPLIED
>

<!ATTLIST n-load
     lang CDATA #IMPLIED
>


<!--
        ELEMENT: n-document
        DESCRIPTION: The n-document element must be used to signify the start of each input document
        COMMENTS: Document containing text, blob or combination
 -->

<!ELEMENT n-document (n-metadata?, (n-docbody | n-blobref | n-mmfile))>

<!ATTLIST n-document
     guid CDATA #REQUIRED
     control (ADD | DEL) "ADD"
>


<!--
        ELEMENT: n-node
        DESCRIPTION: Table of contents data
        COMMENTS: Table of contents data
 -->

<!ELEMENT n-node (n-parent-guid?, n-doc-guid?, n-anchor-guid?, n-label?, n-rank?, n-name?, n-value?, n-start-date?, n-end-date?, n-toc-metadata?)>

<!ATTLIST n-node
     guid CDATA #REQUIRED
     control (ADD | DEL | DELBRANCH) "ADD"
>


<!--
        ELEMENT: n-label
        DESCRIPTION: The n-label element provides a description of the Toc node and has a size limit of 598 bytes.  The contents of n-label can contain embedded XML data
        COMMENTS: Define what can represent the contents of a label
 -->

<!ELEMENT n-label (#PCDATA)>
<!--
        ELEMENT: n-parent-guid
        DESCRIPTION: The n-parent-guid element identifies this nodes immediate parent
        COMMENTS: 
 -->

<!ELEMENT n-parent-guid (#PCDATA)>

<!ATTLIST n-parent-guid
     start CDATA #IMPLIED
     end CDATA #IMPLIED
     rank CDATA #IMPLIED
>
<!--
        ELEMENT: n-doc-guid
        DESCRIPTION: The n-doc-guid value of a Toc node should match the guid of some n-document in a doc only collection
        COMMENTS: 
 -->

<!ELEMENT n-doc-guid (#PCDATA)>
<!--
        ELEMENT: n-anchor-guid
        DESCRIPTION: An anchor node is used to give structure to a document (i.e. identifies sections 
   within a document).  It is possible to define multiple levels of anchors for a document 
   (i.e. identifies sections of a document, paragraphs of a section,...)
        COMMENTS: Only Toc nodes that have a valid n-doc-guid can contain an n-anchor-guid.
 -->

<!ELEMENT n-anchor-guid (#PCDATA)>
<!--
        ELEMENT: n-rank
        DESCRIPTION: The n-rank element provides order to Toc nodes of a common parent.
        COMMENTS: The GetChildrenNodes request returns nodes in order of their rank value.  The TOC rank is a real number value
 -->

<!ELEMENT n-rank (#PCDATA)>
<!--
        ELEMENT: n-name
        DESCRIPTION: The n-name and n-value elements can be used to store additional information 
    in a Toc node, which can be retrieved by a user when the Toc nodes are returned to them.  
    In addition, clients have the ability to search the entire Toc, via the FindNodes request, 
    to retrieve a list of Toc nodes with a specific n-name value or optionally the n-value 
    value, (see Toc API Documentation for details on FindNodes).  The maximum size of an n-name 
    value is 20 bytes, and the n-value value may be up to 200 bytes
        COMMENTS: 
 -->

<!ELEMENT n-name (#PCDATA)>
<!--
        ELEMENT: n-value
        DESCRIPTION: The n-name and n-value elements can be used to store additional information 
    in a Toc node, which can be retrieved by a user when the Toc nodes are returned to them.  
    In addition, clients have the ability to search the entire Toc, via the FindNodes request, 
    to retrieve a list of Toc nodes with a specific n-name value or optionally the n-value 
    value, (see Toc API Documentation for details on FindNodes).  The maximum size of an n-name 
    value is 20 bytes, and the n-value value may be up to 200 bytes
        COMMENTS: 
 -->

<!ELEMENT n-value (#PCDATA)>
<!--
        ELEMENT: n-start-date
        DESCRIPTION: The n-toc-metadata element of a node contains metadata information about the 
    TOC and has a maximum size limit of 200 bytes.  The contents of n-toc-metadata can contain 
    embedded XML data
        COMMENTS: 
 -->

<!ELEMENT n-start-date (#PCDATA)>
<!--
        ELEMENT: n-end-date
        DESCRIPTION: The n-start-date element of a node contains a beginning date that the node was
	in effect.
        COMMENTS: 
 -->

<!ELEMENT n-end-date (#PCDATA)>
<!--
        ELEMENT: n-toc-metadata
        DESCRIPTION: The n-end-date element of a node contains a final date that the node was
	in effect.
        COMMENTS: 
 -->

<!ELEMENT n-toc-metadata (#PCDATA)>


<!--
        ELEMENT: n-relationship
        DESCRIPTION: This element is used to load relationship data and signifies a new 
        relationship.
        COMMENTS: 
 -->

<!ELEMENT n-relationship (n-relbase?, n-reltarget?, n-reltype?, n-relpayload?)>

<!ATTLIST n-relationship
     guid CDATA #REQUIRED
     control (ADD | DEL) "ADD"
>
<!--
        ELEMENT: n-relbase
        DESCRIPTION: This element represents an identifier for the source of the relationship.
        COMMENTS: 
 -->

<!ELEMENT n-relbase (#PCDATA)>
<!--
        ELEMENT: n-reltarget
        DESCRIPTION: This element represents an identifier for the target of the relationship.
        COMMENTS: 
 -->

<!ELEMENT n-reltarget (#PCDATA)>
<!--
        ELEMENT: n-reltype
        DESCRIPTION: This element represents an optional classifier of the relationship.
        COMMENTS: 
 -->

<!ELEMENT n-reltype (#PCDATA)>
<!--
        ELEMENT: n-relpayload
        DESCRIPTION: This element contains xml that defines data that further helps define 
          the relationship.  In the content, the valid xml must be wrapped in CDATA brackets
          within this element to ensure that the parser does not try to validate the xml.
        COMMENTS: 
 -->

<!-- BEGIN: NJB - 3/26/04 - REQUIRED CHANGE FROM STANDARD DTD -->

<!-- removed for special handling of "cdata" by adding the _CDATA element and the actual
     data publishing expects in the payload content. -->
<!-- <!ELEMENT n-relpayload (#PCDATA)> -->

<!ELEMENT n-relpayload (_CDATA)>
<!ELEMENT _CDATA (osr.payload)>
<!ELEMENT osr.payload (base.normalizecite, target.normalizecite, base.wip.version.num, target.wip.version.num, extractdate)>
<!ELEMENT base.normalizecite (#PCDATA)>
<!ELEMENT target.normalizecite (#PCDATA)>
<!ELEMENT base.wip.version.num (#PCDATA)>
<!ELEMENT target.wip.version.num (#PCDATA)>
<!ELEMENT extractdate (#PCDATA)>

<!--END: NJB - 3/26/04 - REQUIRED CHANGE FROM STANDARD DTD -->

<!--
        ELEMENT: n-metadata
        DESCRIPTION: metadata for a document
        COMMENTS: A n-metadata tag can be defined once per document
    There has to be a n-docbody, n-blobref, or n-mmfile tag present before a n-metadata tag can 
    be present.  The contents of n-metadata can contain embedded XML data
 -->

<!ELEMENT n-metadata (dummy, n-tocview*, n-view*, prism-stylesheet?, prism-clipdate?)>


<!--
        ELEMENT: prism-stylesheet
        DESCRIPTION: The style sheet to use with the document
        COMMENTS: If the guid is not mapped to a style sheet, the rendering component retrieves 
   the style sheet developed by the publishing system from Novus
 -->

<!ELEMENT prism-stylesheet EMPTY>

<!ATTLIST prism-stylesheet
     guid CDATA #REQUIRED
>


<!--
        ELEMENT: prism-clipdate
        DESCRIPTION: The prism-clipdate element is the timestamp used for a clipping date
        COMMENTS: The numerical date text for this element should be in the yyyymmddhhmmss format.
   It must be the same for all documents occurring within the same load and must be increasing 
   on subsequent loads.  The date and time does not necessarily have to match exactly any current
   machine time stamp, but must remain close to the customer's initial date restriction.  
   This element is required if the publisher would like to run clips/alerts against their 
   content.  The prismclipdate indicates to the Prism clip/alert service whether the clip/alert 
   should be run
 -->

<!ELEMENT prism-clipdate (#PCDATA)>


<!--
        ELEMENT: n-view
        DESCRIPTION: used when it is necessary to search a portion of a collection.  In other 
   words, a query can be limited to search documents that have been assigned a particular view
        COMMENTS: 
 -->

<!ELEMENT n-view (#PCDATA)>


<!--
        ELEMENT: n-tocview
        DESCRIPTION: contain the Toc guids that a client wishes to associate with a document, and 
   are used to support query view restrictions for Toc guids
        COMMENTS: More than one n-tocview can be specified within a n-metadata, since a document 
   may reside in multiple place within the Toc
 -->

<!ELEMENT n-tocview (#PCDATA)>


<!--
        ELEMENT: n-docbody
        DESCRIPTION: The n-docbody tag signifies the start of the DOC data for the document
        COMMENTS: 
 -->

<!ELEMENT n-docbody (dummy)>


<!--
        ELEMENT: n-mmfile
        DESCRIPTION: A link to the mm file to be loaded. A n-mmfile element contains information 
   about a multimedia file to be loaded to a web/media server
        COMMENTS: The n-mmfile element must contain filename, type and extension attributes
 -->

<!ELEMENT n-mmfile EMPTY>

<!ATTLIST n-mmfile
     filename CDATA #REQUIRED
     extension CDATA #REQUIRED
     type CDATA #REQUIRED
>


<!--
        ELEMENT: n-blobref
        DESCRIPTION: A n-blobref element contains information about a multimedia to load as a blob
    within Novus
        COMMENTS: This is used for multimedia such as images, pdf, excel worksheets, zips, etc.. 
   where the multimedia is stored in a database in Novus and the bytes/multimedia data retrieved
   upon a  request to Novus
 -->

<!ELEMENT n-blobref EMPTY>

<!ATTLIST n-blobref
     type CDATA #REQUIRED
     filename CDATA #REQUIRED
>

<!ENTITY aacute "&#225;"> 
<!ENTITY Aacute "&#193;"> 
<!ENTITY acirc  "&#226;">  
<!ENTITY Acirc  "&#194;">  
<!ENTITY agrave "&#224;"> 
<!ENTITY Agrave "&#192;"> 
<!ENTITY aring  "&#229;">  
<!ENTITY Aring  "&#197;">  
<!ENTITY atilde "&#227;"> 
<!ENTITY Atilde "&#195;"> 
<!ENTITY auml   "&#228;">   
<!ENTITY Auml   "&#196;">   
<!ENTITY aelig  "&#230;">  
<!ENTITY AElig  "&#198;">  
<!ENTITY ccedil "&#231;"> 
<!ENTITY Ccedil "&#199;"> 
<!ENTITY eth    "&#240;">    
<!ENTITY ETH    "&#208;">    
<!ENTITY eacute "&#233;"> 
<!ENTITY Eacute "&#201;"> 
<!ENTITY ecirc  "&#234;">  
<!ENTITY Ecirc  "&#202;">  
<!ENTITY egrave "&#232;"> 
<!ENTITY Egrave "&#200;"> 
<!ENTITY euml   "&#235;">   
<!ENTITY Euml   "&#203;">   
<!ENTITY iacute "&#237;"> 
<!ENTITY Iacute "&#205;"> 
<!ENTITY icirc  "&#238;">  
<!ENTITY Icirc  "&#206;">  
<!ENTITY igrave "&#236;"> 
<!ENTITY Igrave "&#204;"> 
<!ENTITY iuml   "&#239;">   
<!ENTITY Iuml   "&#207;">   
<!ENTITY ntilde "&#241;"> 
<!ENTITY Ntilde "&#209;"> 
<!ENTITY oacute "&#243;"> 
<!ENTITY Oacute "&#211;"> 
<!ENTITY ocirc  "&#244;">  
<!ENTITY Ocirc  "&#212;">  
<!ENTITY ograve "&#242;"> 
<!ENTITY Ograve "&#210;"> 
<!ENTITY oslash "&#248;"> 
<!ENTITY Oslash "&#216;"> 
<!ENTITY otilde "&#245;"> 
<!ENTITY Otilde "&#213;"> 
<!ENTITY ouml   "&#246;">   
<!ENTITY Ouml   "&#214;">   
<!ENTITY szlig  "&#223;">  
<!ENTITY thorn  "&#254;">  
<!ENTITY THORN  "&#222;">  
<!ENTITY uacute "&#250;"> 
<!ENTITY Uacute "&#218;"> 
<!ENTITY ucirc  "&#251;">  
<!ENTITY Ucirc  "&#219;">  
<!ENTITY ugrave "&#249;"> 
<!ENTITY Ugrave "&#217;"> 
<!ENTITY uuml   "&#252;">   
<!ENTITY Uuml   "&#220;">   
<!ENTITY yacute "&#253;"> 
<!ENTITY Yacute "&#221;"> 
<!ENTITY yuml   "&#255;">   

<!ENTITY cularr "&#8630;"> 
<!ENTITY curarr "&#8631;"> 
<!ENTITY dArr   "&#8659;">   
<!ENTITY darr2  "&#8650;">  
<!ENTITY dharl  "&#8643;">  
<!ENTITY dharr  "&#8642;">  
<!ENTITY lAarr  "&#8666;">  
<!ENTITY Larr   "&#8606;">   
<!ENTITY larr2  "&#8647;">  
<!ENTITY larrhk "&#8617;"> 
<!ENTITY larrlp "&#8619;"> 
<!ENTITY larrtl "&#8610;"> 
<!ENTITY lhard  "&#8637;">  
<!ENTITY lharu  "&#8636;">  
<!ENTITY hArr   "&#8660;">   
<!ENTITY harr   "&#8596;">   
<!ENTITY lrarr2 "&#8646;"> 
<!ENTITY rlarr2 "&#8644;"> 
<!ENTITY harrw  "&#8621;">  
<!ENTITY rlhar2 "&#8652;"> 
<!ENTITY lrhar2 "&#8651;"> 
<!ENTITY lsh    "&#8624;">    
<!ENTITY map    "&#8614;">    
<!ENTITY mumap  "&#8888;">  
<!ENTITY nearr  "&#8599;">  
<!ENTITY nlArr  "&#8653;">  
<!ENTITY nlarr  "&#8602;">  
<!ENTITY nhArr  "&#8654;">  
<!ENTITY nharr  "&#8622;">  
<!ENTITY nrarr  "&#8603;">  
<!ENTITY nrArr  "&#8655;">  
<!ENTITY nwarr  "&#8598;">  
<!ENTITY olarr  "&#8634;">  
<!ENTITY orarr  "&#8635;">  
<!ENTITY rAarr  "&#8667;">  
<!ENTITY Rarr   "&#8608;">   
<!ENTITY rarr2  "&#8649;">  
<!ENTITY rarrhk "&#8618;"> 
<!ENTITY rarrlp "&#8620;"> 
<!ENTITY rarrtl "&#8611;"> 
<!ENTITY rarrw  "&#8669;">  
<!ENTITY rhard  "&#8641;">  
<!ENTITY rharu  "&#8640;">  
<!ENTITY rsh    "&#8625;">    
<!ENTITY drarr  "&#8600;">  
<!ENTITY dlarr  "&#8601;">  
<!ENTITY uArr   "&#8657;">   
<!ENTITY uarr2  "&#8648;">  
<!ENTITY vArr   "&#8661;">   
<!ENTITY varr   "&#8597;">   
<!ENTITY uharl  "&#8639;">  
<!ENTITY uharr  "&#8638;">  
<!ENTITY xlArr  "&#8656;">  
<!ENTITY xhArr  "&#8596;">  
<!ENTITY xharr  "&#8596;">  
<!ENTITY xrArr  "&#8658;">  

<!ENTITY abreve "&#259;"> 
<!ENTITY Abreve "&#258;"> 
<!ENTITY amacr  "&#257;">  
<!ENTITY Amacr  "&#256;">  
<!ENTITY aogon  "&#261;">  
<!ENTITY Aogon  "&#260;">  
<!ENTITY cacute "&#263;"> 
<!ENTITY Cacute "&#262;"> 
<!ENTITY ccaron "&#269;"> 
<!ENTITY Ccaron "&#268;"> 
<!ENTITY ccirc  "&#265;">  
<!ENTITY Ccirc  "&#264;">  
<!ENTITY cdot   "&#267;">   
<!ENTITY Cdot   "&#266;">   
<!ENTITY dcaron "&#271;"> 
<!ENTITY Dcaron "&#270;"> 
<!ENTITY dstrok "&#273;"> 
<!ENTITY Dstrok "&#272;"> 
<!ENTITY ecaron "&#283;"> 
<!ENTITY Ecaron "&#282;"> 
<!ENTITY edot   "&#279;">   
<!ENTITY Edot   "&#278;">   
<!ENTITY emacr  "&#275;">  
<!ENTITY Emacr  "&#274;">  
<!ENTITY eogon  "&#281;">  
<!ENTITY Eogon  "&#280;">  
<!ENTITY gacute "&#501;"> 
<!ENTITY gbreve "&#287;"> 
<!ENTITY Gbreve "&#286;"> 
<!ENTITY Gcedil "&#290;"> 
<!ENTITY gcirc  "&#285;">  
<!ENTITY Gcirc  "&#284;">  
<!ENTITY gdot   "&#289;">   
<!ENTITY Gdot   "&#288;">   
<!ENTITY hcirc  "&#293;">  
<!ENTITY Hcirc  "&#292;">  
<!ENTITY hstrok "&#295;"> 
<!ENTITY Hstrok "&#294;"> 
<!ENTITY Idot   "&#304;">   
<!ENTITY Imacr  "&#298;">  
<!ENTITY imacr  "&#299;">  
<!ENTITY ijlig  "&#307;">  
<!ENTITY IJlig  "&#306;">  
<!ENTITY inodot "&#305;"> 
<!ENTITY iogon  "&#303;">  
<!ENTITY Iogon  "&#302;">  
<!ENTITY itilde "&#297;"> 
<!ENTITY Itilde "&#296;"> 
<!ENTITY jcirc  "&#309;">  
<!ENTITY Jcirc  "&#308;">  
<!ENTITY kcedil "&#311;"> 
<!ENTITY Kcedil "&#310;"> 
<!ENTITY kgreen "&#312;"> 
<!ENTITY lacute "&#314;"> 
<!ENTITY Lacute "&#313;"> 
<!ENTITY lcaron "&#318;"> 
<!ENTITY Lcaron "&#317;"> 
<!ENTITY lcedil "&#316;"> 
<!ENTITY Lcedil "&#315;"> 
<!ENTITY lmidot "&#320;"> 
<!ENTITY Lmidot "&#319;"> 
<!ENTITY lstrok "&#322;"> 
<!ENTITY Lstrok "&#321;"> 
<!ENTITY nacute "&#324;"> 
<!ENTITY Nacute "&#323;"> 
<!ENTITY eng    "&#331;">    
<!ENTITY ENG    "&#330;">    
<!ENTITY napos  "&#329;">  
<!ENTITY ncaron "&#328;"> 
<!ENTITY Ncaron "&#327;"> 
<!ENTITY ncedil "&#326;"> 
<!ENTITY Ncedil "&#325;"> 
<!ENTITY odblac "&#337;"> 
<!ENTITY Odblac "&#336;"> 
<!ENTITY Omacr  "&#332;">  
<!ENTITY omacr  "&#333;">  
<!ENTITY oelig  "&#339;">  
<!ENTITY OElig  "&#338;">  
<!ENTITY racute "&#341;"> 
<!ENTITY Racute "&#340;"> 
<!ENTITY rcaron "&#345;"> 
<!ENTITY Rcaron "&#344;"> 
<!ENTITY rcedil "&#343;"> 
<!ENTITY Rcedil "&#342;"> 
<!ENTITY sacute "&#347;"> 
<!ENTITY Sacute "&#346;"> 
<!ENTITY scaron "&#353;"> 
<!ENTITY Scaron "&#352;"> 
<!ENTITY scedil "&#351;"> 
<!ENTITY Scedil "&#350;"> 
<!ENTITY scirc  "&#349;">  
<!ENTITY Scirc  "&#348;">  
<!ENTITY tcaron "&#357;"> 
<!ENTITY Tcaron "&#356;"> 
<!ENTITY tcedil "&#355;"> 
<!ENTITY Tcedil "&#354;"> 
<!ENTITY tstrok "&#359;"> 
<!ENTITY Tstrok "&#358;"> 
<!ENTITY ubreve "&#365;"> 
<!ENTITY Ubreve "&#364;"> 
<!ENTITY udblac "&#369;"> 
<!ENTITY Udblac "&#368;"> 
<!ENTITY umacr  "&#363;">  
<!ENTITY Umacr  "&#362;">  
<!ENTITY uogon  "&#371;">  
<!ENTITY Uogon  "&#370;">  
<!ENTITY uring  "&#367;">  
<!ENTITY Uring  "&#366;">  
<!ENTITY utilde "&#361;"> 
<!ENTITY Utilde "&#360;"> 
<!ENTITY wcirc  "&#373;">  
<!ENTITY Wcirc  "&#372;">  
<!ENTITY ycirc  "&#375;">  
<!ENTITY Ycirc  "&#374;">  
<!ENTITY Yuml   "&#376;">   
<!ENTITY zacute "&#378;"> 
<!ENTITY Zacute "&#377;"> 
<!ENTITY zcaron "&#382;"> 
<!ENTITY Zcaron "&#381;"> 
<!ENTITY zdot   "&#380;">   
<!ENTITY Zdot   "&#379;">   

<!ENTITY boxh   "&#9472;">   
<!ENTITY boxv   "&#9474;">   
<!ENTITY boxur  "&#9492;">  
<!ENTITY boxul  "&#9496;">  
<!ENTITY boxdl  "&#9488;">  
<!ENTITY boxdr  "&#9484;">  
<!ENTITY boxvr  "&#9500;">  
<!ENTITY boxhu  "&#9524;">  
<!ENTITY boxvl  "&#9508;">  
<!ENTITY boxhd  "&#9516;">  
<!ENTITY boxvh  "&#9532;">  
<!ENTITY boxvR  "&#9566;">  
<!ENTITY boxhU  "&#9576;">  
<!ENTITY boxvL  "&#9569;">  
<!ENTITY boxhD  "&#9573;">  
<!ENTITY boxvH  "&#9578;">  
<!ENTITY boxH   "&#9552;">   
<!ENTITY boxV   "&#9553;">   
<!ENTITY boxUR  "&#9562;">  
<!ENTITY boxUL  "&#9565;">  
<!ENTITY boxDL  "&#9559;">  
<!ENTITY boxDR  "&#9556;">  
<!ENTITY boxVR  "&#9568;">  
<!ENTITY boxHU  "&#9577;">  
<!ENTITY boxVL  "&#9571;">  
<!ENTITY boxHD  "&#9574;">  
<!ENTITY boxVH  "&#9580;">  
<!ENTITY boxVr  "&#9567;">  
<!ENTITY boxHu  "&#9575;">  
<!ENTITY boxVl  "&#9570;">  
<!ENTITY boxHd  "&#9572;">  
<!ENTITY boxVh  "&#9579;">  
<!ENTITY boxuR  "&#9560;">  
<!ENTITY boxUl  "&#9564;">  
<!ENTITY boxdL  "&#9557;">  
<!ENTITY boxDr  "&#9555;">  
<!ENTITY boxUr  "&#9561;">  
<!ENTITY boxuL  "&#9563;">  
<!ENTITY boxDl  "&#9558;">  
<!ENTITY boxdR  "&#9554;">  

<!ENTITY half   "&#189;">   
<!ENTITY frac12 "&#189;"> 
<!ENTITY frac14 "&#188;"> 
<!ENTITY frac34 "&#190;"> 
<!ENTITY frac18 "&#8539;"> 
<!ENTITY frac38 "&#8540;"> 
<!ENTITY frac58 "&#8541;"> 
<!ENTITY frac78 "&#8542;"> 

<!ENTITY sup1   "&#185;">   
<!ENTITY sup2   "&#178;">   
<!ENTITY sup3   "&#179;">   

<!ENTITY plus   "&#43;">   
<!ENTITY plusmn "&#177;"> 
<!ENTITY lt     "&#38;#38;lt;">     
<!ENTITY equals "&#61;"> 
<!ENTITY gt     "&#38;#38;gt;">     
<!ENTITY divide "&#247;"> 
<!ENTITY times  "&#215;">  

<!ENTITY curren "&#164;"> 
<!ENTITY pound  "&#163;">  
<!ENTITY dollar "&#36;"> 
<!ENTITY cent   "&#162;">   
<!ENTITY yen    "&#165;">    

<!ENTITY num    "&#35;">    
<!ENTITY percnt "&#37;"> 
<!ENTITY amp    "&#38;#38;amp;">    
<!ENTITY ast    "&#42;">    
<!ENTITY commat "&#64;"> 
<!ENTITY lsqb   "&#91;">   
<!ENTITY bsol   "&#92;">   
<!ENTITY rsqb   "&#93;">   
<!ENTITY lcub   "&#123;">   
<!ENTITY horbar "&#8213;"> 
<!ENTITY verbar "&#124;"> 
<!ENTITY rcub   "&#125;">   
<!ENTITY micro  "&#181;">  
<!ENTITY ohm    "&#8486;">    
<!ENTITY deg    "&#176;">    
<!ENTITY ordm   "&#186;">   
<!ENTITY ordf   "&#170;">   
<!ENTITY sect   "&#167;">   
<!ENTITY para   "&#182;">   
<!ENTITY middot "&#183;"> 
<!ENTITY larr   "&#8592;">   
<!ENTITY rarr   "&#8594;">   
<!ENTITY uarr   "&#8593;">   
<!ENTITY darr   "&#8595;">   
<!ENTITY copy   "&#169;">   
<!ENTITY reg    "&#174;">    
<!ENTITY trade  "&#8482;">  
<!ENTITY brvbar "&#166;"> 
<!ENTITY not    "&#172;">    
<!ENTITY sung   "&#65533;">   

<!ENTITY excl   "&#33;">   
<!ENTITY iexcl  "&#161;">  
<!ENTITY quot   "&#38;#38;quot;">   
<!ENTITY apos   "&#38;#38;apos;">   
<!ENTITY lpar   "&#40;">   
<!ENTITY rpar   "&#41;">   
<!ENTITY comma  "&#44;">  
<!ENTITY lowbar "&#95;"> 
<!ENTITY hyphen "&#45;"> 
<!ENTITY period "&#46;"> 
<!ENTITY sol    "&#47;">    
<!ENTITY colon  "&#58;">  
<!ENTITY semi   "&#59;">   
<!ENTITY quest  "&#63;">  
<!ENTITY iquest "&#191;"> 
<!ENTITY laquo  "&#171;">  
<!ENTITY raquo  "&#187;">  
<!ENTITY lsquo  "&#8216;">  
<!ENTITY rsquo  "&#8217;">  
<!ENTITY ldquo  "&#8220;">  
<!ENTITY rdquo  "&#8221;">  
<!ENTITY nbsp   "&#160;">   
<!ENTITY shy    "&#173;">    

<!ENTITY agr    "&#945;">    
<!ENTITY Agr    "&#913;">    
<!ENTITY bgr    "&#946;">    
<!ENTITY Bgr    "&#914;">    
<!ENTITY ggr    "&#947;">    
<!ENTITY Ggr    "&#915;">    
<!ENTITY dgr    "&#948;">    
<!ENTITY Dgr    "&#916;">    
<!ENTITY egr    "&#949;">    
<!ENTITY Egr    "&#917;">    
<!ENTITY zgr    "&#950;">    
<!ENTITY Zgr    "&#918;">    
<!ENTITY eegr   "&#951;">   
<!ENTITY EEgr   "&#919;">   
<!ENTITY thgr   "&#952;">   
<!ENTITY THgr   "&#920;">   
<!ENTITY igr    "&#953;">    
<!ENTITY Igr    "&#921;">    
<!ENTITY kgr    "&#954;">    
<!ENTITY Kgr    "&#922;">    
<!ENTITY lgr    "&#955;">    
<!ENTITY Lgr    "&#923;">    
<!ENTITY mgr    "&#956;">    
<!ENTITY Mgr    "&#924;">    
<!ENTITY ngr    "&#957;">    
<!ENTITY Ngr    "&#925;">    
<!ENTITY xgr    "&#958;">    
<!ENTITY Xgr    "&#926;">    
<!ENTITY ogr    "&#959;">    
<!ENTITY Ogr    "&#927;">    
<!ENTITY pgr    "&#960;">    
<!ENTITY Pgr    "&#928;">    
<!ENTITY rgr    "&#961;">    
<!ENTITY Rgr    "&#929;">    
<!ENTITY sgr    "&#963;">    
<!ENTITY Sgr    "&#931;">    
<!ENTITY sfgr   "&#962;">   
<!ENTITY tgr    "&#964;">    
<!ENTITY Tgr    "&#932;">    
<!ENTITY ugr    "&#965;">    
<!ENTITY Ugr    "&#933;">    
<!ENTITY phgr   "&#966;">   
<!ENTITY PHgr   "&#934;">   
<!ENTITY khgr   "&#967;">   
<!ENTITY KHgr   "&#935;">   
<!ENTITY psgr   "&#968;">   
<!ENTITY PSgr   "&#936;">   
<!ENTITY ohgr   "&#969;">   
<!ENTITY OHgr   "&#937;">   

<!ENTITY euro	      "&#8364;">         
<!ENTITY TLR2ast      "&#8273;">        
<!ENTITY TLRAEligscs  "&#59022;">       
<!ENTITY TLRAEligscss "&#59028;">       
<!ENTITY TLRAEligss   "&#59012;">       
<!ENTITY TLRaeligss   "&#59014;">       
<!ENTITY TLRairpl     "&#9992;">        
<!ENTITY TLRand       "&#57371;">       
<!ENTITY TLRballot    "&#9744;">        
<!ENTITY TLRbkter     "&#61000;">       
<!ENTITY TLRblbar     "&#59102;">       
<!ENTITY TLRboxx      "&#9746;">        
<!ENTITY TLRbrc       "&#9130;">        
<!ENTITY TLRbul1      "&#58500;">       
<!ENTITY TLRbul2      "&#9679;">         
<!ENTITY TLRbul7      "&#58506;">       
<!ENTITY TLRbxsur     "&#10064;">       
<!ENTITY TLRcb        "&#596;">         
<!ENTITY TLRcents     "&#59313;">       
<!ENTITY TLRcentsb    "&#59301;">       
<!ENTITY TLRcentss    "&#59300;">       
<!ENTITY TLRcentssb   "&#59302;">       
<!ENTITY TLRcentssbR  "&#59304;">       
<!ENTITY TLRckbox     "&#9745;">        
<!ENTITY TLRcntrl     "&#8452;">        
<!ENTITY TLRcopys     "&#59004;">       
<!ENTITY TLRcopysrr   "&#59075;">       
<!ENTITY TLRcopysw    "&#9410;">        
<!ENTITY TLRcopyswr   "&#59073;">       
<!ENTITY TLRdarr      "&#58009;">       
<!ENTITY TLRdarr1     "&#58005;">       
<!ENTITY TLRdarr1f    "&#58001;">       
<!ENTITY TLRdash      "&#59021;">       
<!ENTITY TLRdashb     "&#59011;">       
<!ENTITY TLRdashl     "&#59101;">       
<!ENTITY TLRdeg       "&#57378;">       
<!ENTITY TLRdiameb    "&#57370;">       
<!ENTITY TLRdiamet    "&#8960;">        
<!ENTITY TLRdiamo     "&#9826;">        
<!ENTITY TLRdisk      "&#61002;">       
<!ENTITY TLRdivide    "&#57376;">       
<!ENTITY TLRdivsl     "&#8725;">        
<!ENTITY TLRdollarssR "&#59303;">       
<!ENTITY TLRdotl      "&#8228;">        
<!ENTITY TLRdotR      "&#57345;">       
<!ENTITY TLRdram      "&#436;">          
<!ENTITY TLRegrL      "&#1013;">        
<!ENTITY TLRemp1c     "&#57360;">       
<!ENTITY TLRemp1l     "&#57361;">       
<!ENTITY TLRemp2c     "&#57362;">       
<!ENTITY TLRemp2l     "&#57363;">       
<!ENTITY TLRemp3c     "&#57364;">       
<!ENTITY TLRemp3l     "&#57365;">       
<!ENTITY TLRemptyb    "&#57369;">       
<!ENTITY TLRenv1      "&#9993;">        
<!ENTITY TLRequals    "&#57377;">       
<!ENTITY TLRflorin    "&#59078;">       
<!ENTITY TLRflr0      "&#58700;">       
<!ENTITY TLRflr2      "&#58701;">       
<!ENTITY TLRflr3      "&#58702;">       
<!ENTITY TLRflr4      "&#58703;">       
<!ENTITY TLRflr5      "&#58704;">       
<!ENTITY TLRflr6      "&#58705;">       
<!ENTITY TLRflr7      "&#58706;">       
<!ENTITY TLRfrslab    "&#57374;">       
<!ENTITY TLRgev       "&#10906;">       
<!ENTITY TLRgreaG     "&#10913;">       
<!ENTITY TLRgt        "&#57368;">       
<!ENTITY TLRgtl       "&#57356;">       
<!ENTITY TLRhandv     "&#9996;">        
<!ENTITY TLRhandw     "&#9997;">        
<!ENTITY TLRhouse     "&#8962;">        
<!ENTITY TLRincare    "&#59306;">       
<!ENTITY TLRintb      "&#8253;">        
<!ENTITY TLRintbS     "&#59076;">       
<!ENTITY TLRinvT      "&#58720;">       
<!ENTITY TLRKey       "&#62001;">       
<!ENTITY TLRkey       "&#62000;">       
<!ENTITY TLRslaquo    "&#8249;">        
<!ENTITY TLRlarr1     "&#58006;">       
<!ENTITY TLRlarr1f    "&#58002;">       
<!ENTITY TLRlarrL     "&#58010;">       
<!ENTITY TLRlcbp1     "&#9127;">        
<!ENTITY TLRlcbp3     "&#9128;">        
<!ENTITY TLRlcbp4     "&#9129;">        
<!ENTITY TLRlcub      "&#59010;">       
<!ENTITY TLRlessL     "&#10914;">       
<!ENTITY TLRletXb     "&#10006;">       
<!ENTITY TLRlev       "&#10905;">       
<!ENTITY TLRlhand     "&#9756;">        
<!ENTITY TLRlomacr    "&#817;">         
<!ENTITY TLRloring    "&#805;">         
<!ENTITY TLRloz       "&#8977;">        
<!ENTITY TLRlparL     "&#8333;">        
<!ENTITY TLRlparR     "&#8317;">        
<!ENTITY TLRlsesh     "&#643;">         
<!ENTITY TLRlt        "&#57367;">       
<!ENTITY TLRltl       "&#57357;">       
<!ENTITY TLRltri      "&#58543;">       
<!ENTITY TLRminus     "&#57380;">       
<!ENTITY TLRnbemsp    "&#8193;">        
<!ENTITY TLRnbensp    "&#8192;">        
<!ENTITY TLRnbthsp    "&#8197;">        
<!ENTITY TLRncss1     "&#10122;">       
<!ENTITY TLRncss10    "&#10131;">       
<!ENTITY TLRncss2     "&#10123;">       
<!ENTITY TLRncss3     "&#10124;">       
<!ENTITY TLRncss4     "&#10125;">       
<!ENTITY TLRncss5     "&#10126;">       
<!ENTITY TLRncss6     "&#10127;">       
<!ENTITY TLRncss7     "&#10128;">       
<!ENTITY TLRncss8     "&#10129;">       
<!ENTITY TLRncss9     "&#10130;">       
<!ENTITY TLRnev       "&#57352;">       
<!ENTITY TLRngtV      "&#57347;">       
<!ENTITY TLRnumero    "&#8470;">        
<!ENTITY TLROEligscs  "&#59023;">       
<!ENTITY TLROEligscss "&#59029;">       
<!ENTITY TLROEligss   "&#59013;">       
<!ENTITY TLRoeligss   "&#59015;">       
<!ENTITY TLRor        "&#57372;">       
<!ENTITY TLRosqtp     "&#9671;">        
<!ENTITY TLRosqu5     "&#58521;">       
<!ENTITY TLRpenc1     "&#9998;">        
<!ENTITY TLRpesos     "&#8369;">        
<!ENTITY Tlrpesoss    "&#59312;">       
<!ENTITY TLRplus      "&#57379;">       
<!ENTITY TLRplusmn    "&#57366;">       
<!ENTITY TLRpoundssm  "&#59305;">       
<!ENTITY TLRproprt    "&#8759;">        
<!ENTITY TLRrarr1     "&#58004;">       
<!ENTITY TLRrarr1f    "&#10151;">       
<!ENTITY TLRrarrL     "&#58011;">       
<!ENTITY TLRratio     "&#8750;">        
<!ENTITY TLRrcbp1     "&#9131;">        
<!ENTITY TLRrcbp3     "&#9132;">        
<!ENTITY TLRrcbp4     "&#9133;">        
<!ENTITY TLRrcub      "&#59009;">       
<!ENTITY TLRregs      "&#59005;">       
<!ENTITY TLRrhand     "&#9758;">        
<!ENTITY TLRrhndf     "&#9755;">        
<!ENTITY TLRrparrL    "&#8334;">        
<!ENTITY TLRrparrR    "&#8318;">        
<!ENTITY TLRrtri      "&#58541;">       
<!ENTITY TLRschwa     "&#601;">         
<!ENTITY TLRschwab    "&#59026;">       
<!ENTITY TLRschwabi   "&#59027;">       
<!ENTITY TLRschwai    "&#59025;">       
<!ENTITY TLRschwar    "&#59024;">       
<!ENTITY TLRscisl     "&#58730;">       
<!ENTITY TLRscisr     "&#9986;">        
<!ENTITY TLRservice   "&#8480;">        
<!ENTITY TLRService   "&#59072;">       
<!ENTITY TLRsetmn     "&#57373;">       
<!ENTITY TLRsimev     "&#57353;">       
<!ENTITY TLRsimv      "&#8766;">        
<!ENTITY TLRsqtp      "&#9671;">        
<!ENTITY TLRsqu3      "&#9724;">        
<!ENTITY TLRsquf      "&#9632;">        
<!ENTITY TLRsraquo    "&#8250;">        
<!ENTITY TLRstarfb    "&#58536;">       
<!ENTITY TLRstaro     "&#9734;">        
<!ENTITY TLRstarod    "&#10017;">       
<!ENTITY TLRszlig     "&#59016;">       
<!ENTITY TLRtcirc     "&#94;">          
<!ENTITY TLRter       "&#61001;">       
<!ENTITY TLRTHgr      "&#1012;">        
<!ENTITY TLRtimes     "&#57375;">       
<!ENTITY TLRtrade     "&#59200;">       
<!ENTITY TLRtradesc   "&#59006;">       
<!ENTITY TLRtrlfb     "&#9664;">        
<!ENTITY TLRtrrfb     "&#9654;">        
<!ENTITY TLRttilde    "&#126;">         
<!ENTITY TLRturnv     "&#652;">         
<!ENTITY TLRuarr      "&#58008;">       
<!ENTITY TLRuarr1     "&#58007;">       
<!ENTITY TLRuarr1f    "&#58003;">       
<!ENTITY TLRvirgul    "&#8260;">        
<!ENTITY TLRWP1       "&#62009;">       
<!ENTITY TLRWP2       "&#62010;">       
<!ENTITY TLRWP2tm     "&#62011;">       

<!ENTITY ape    "&#8778;">    
<!ENTITY asymp  "&#8781;">  
<!ENTITY bcong  "&#8780;">  
<!ENTITY bepsi  "&#8717;">  
<!ENTITY bowtie "&#8904;"> 
<!ENTITY bsim   "&#8765;">   
<!ENTITY bsime  "&#8909;">  
<!ENTITY bump   "&#8782;">   
<!ENTITY bumpe  "&#8783;">  
<!ENTITY cire   "&#8791;">   
<!ENTITY colone "&#8788;"> 
<!ENTITY cuepr  "&#8926;">  
<!ENTITY cuesc  "&#8927;">  
<!ENTITY cupre  "&#8828;">  
<!ENTITY dashv  "&#8867;">  
<!ENTITY ecir   "&#8790;">   
<!ENTITY ecolon "&#8798;"> 
<!ENTITY eDot   "&#8785;">   
<!ENTITY esdot  "&#8784;">  
<!ENTITY efDot  "&#8786;">  
<!ENTITY egs    "&#8925;">    
<!ENTITY els    "&#8924;">    
<!ENTITY erDot  "&#8787;">  
<!ENTITY fork   "&#8916;">   
<!ENTITY frown  "&#8994;">  
<!ENTITY gap    "&#8819;">    
<!ENTITY gsdot  "&#8919;">  
<!ENTITY gE     "&#8807;">     
<!ENTITY gel    "&#8923;">    
<!ENTITY gEl    "&#8923;">    
<!ENTITY ges    "&#8805;">    
<!ENTITY Gg     "&#8921;">     
<!ENTITY gl     "&#8823;">     
<!ENTITY gsim   "&#8819;">   
<!ENTITY Gt     "&#8811;">     
<!ENTITY lap    "&#8818;">    
<!ENTITY ldot   "&#8918;">   
<!ENTITY lE     "&#8806;">     
<!ENTITY lEg    "&#8922;">    
<!ENTITY leg    "&#8922;">    
<!ENTITY les    "&#8804;">    
<!ENTITY lg     "&#8822;">     
<!ENTITY Ll     "&#8920;">     
<!ENTITY lsim   "&#8818;">   
<!ENTITY Lt     "&#8810;">     
<!ENTITY ltrie  "&#8884;">  
<!ENTITY mid    "&#8739;">    
<!ENTITY models "&#8871;"> 
<!ENTITY pr     "&#8826;">     
<!ENTITY prap   "&#8830;">   
<!ENTITY pre    "&#8828;">    
<!ENTITY prsim  "&#8830;">  
<!ENTITY rtrie  "&#8885;">  
<!ENTITY samalg "&#8720;"> 
<!ENTITY sc     "&#8827;">     
<!ENTITY scap   "&#8831;">   
<!ENTITY sccue  "&#8829;">  
<!ENTITY sce    "&#8829;">    
<!ENTITY scsim  "&#8831;">  
<!ENTITY sfrown "&#8994;"> 
<!ENTITY smid   "&#65533;">   
<!ENTITY smile  "&#8995;">  
<!ENTITY spar   "&#8741;">   
<!ENTITY sqsub  "&#8847;">  
<!ENTITY sqsube "&#8849;"> 
<!ENTITY sqsup  "&#8848;">  
<!ENTITY sqsupe "&#8850;"> 
<!ENTITY ssmile "&#8995;"> 
<!ENTITY Sub    "&#8912;">    
<!ENTITY subE   "&#8838;">   
<!ENTITY Sup    "&#8913;">    
<!ENTITY supE   "&#8839;">   
<!ENTITY thkap  "&#8776;">  
<!ENTITY thksim "&#8764;"> 
<!ENTITY trie   "&#8796;">   
<!ENTITY twixt  "&#8812;">  
<!ENTITY vdash  "&#8866;">  
<!ENTITY Vdash  "&#8873;">  
<!ENTITY vDash  "&#8872;">  
<!ENTITY veebar "&#8891;"> 
<!ENTITY vltri  "&#8882;">  
<!ENTITY vprop  "&#8733;">  
<!ENTITY vrtri  "&#8883;">  
<!ENTITY Vvdash "&#8874;"> 

<!ENTITY emsp   "&#8195;">   
<!ENTITY ensp   "&#8194;">   
<!ENTITY emsp13 "&#8196;">  
<!ENTITY emsp14 "&#8197;">  
<!ENTITY numsp  "&#8199;">  
<!ENTITY puncsp "&#8200;"> 
<!ENTITY thinsp "&#8201;"> 
<!ENTITY hairsp "&#8202;"> 
<!ENTITY mdash  "&#8212;">  
<!ENTITY ndash  "&#8211;">  
<!ENTITY dash   "&#8208;">   
<!ENTITY blank  "&#9251;">  
<!ENTITY hellip "&#8230;"> 
<!ENTITY nldr   "&#8229;">   
<!ENTITY frac13 "&#8531;"> 
<!ENTITY frac23 "&#8532;"> 
<!ENTITY frac15 "&#8533;"> 
<!ENTITY frac25 "&#8534;"> 
<!ENTITY frac35 "&#8535;"> 
<!ENTITY frac45 "&#8536;"> 
<!ENTITY frac16 "&#8537;"> 
<!ENTITY frac56 "&#8537;"> 
<!ENTITY incare "&#8453;"> 
<!ENTITY block  "&#9608;">  
<!ENTITY uhblk  "&#9600;">  
<!ENTITY lhblk  "&#9604;">  
<!ENTITY blk14  "&#9617;">  
<!ENTITY blk12  "&#9618;">  
<!ENTITY blk34  "&#9619;">  
<!ENTITY marker "&#9646;"> 
<!ENTITY cir    "&#9675;">    
<!ENTITY squ    "&#9633;">    
<!ENTITY rect   "&#9645;">   
<!ENTITY utri   "&#9653;">   
<!ENTITY dtri   "&#9663;">   
<!ENTITY star   "&#8902;">   
<!ENTITY bull   "&#8226;">   
<!ENTITY squf   "&#9642;">   
<!ENTITY utrif  "&#9652;">  
<!ENTITY dtrif  "&#9662;">  
<!ENTITY ltrif  "&#9666;">  
<!ENTITY rtrif  "&#9656;">  
<!ENTITY clubs  "&#9827;">  
<!ENTITY diams  "&#9830;">  
<!ENTITY hearts "&#9825;"> 
<!ENTITY spades "&#9824;"> 
<!ENTITY malt   "&#10016;">   
<!ENTITY dagger "&#8224;"> 
<!ENTITY Dagger "&#8225;"> 
<!ENTITY check  "&#10003;">  
<!ENTITY cross  "&#10007;"> 
<!ENTITY sharp  "&#9839;">  
<!ENTITY flat   "&#9837;">   
<!ENTITY male   "&#9794;">   
<!ENTITY female "&#9792;"> 
<!ENTITY phone  "&#9742;">  
<!ENTITY telrec "&#8981;"> 
<!ENTITY copysr "&#8471;"> 
<!ENTITY caret  "&#8257;">  
<!ENTITY lsquor "&#8218;"> 
<!ENTITY ldquor "&#8222;"> 

<!ENTITY fflig  "&#64256;">  
<!ENTITY filig  "&#64257;">  
<!ENTITY fjlig  "&#65533;">  
<!ENTITY ffilig "&#64259;"> 
<!ENTITY ffllig "&#64260;"> 
<!ENTITY fllig  "&#64258;">  

<!ENTITY mldr   "&#8230;">   
<!ENTITY rdquor "&#8221;"> 
<!ENTITY rsquor "&#8217;"> 
<!ENTITY vellip "&#8942;"> 

<!ENTITY hybull "&#8259;"> 
<!ENTITY loz    "&#9674;">    
<!ENTITY lozf   "&#10022;">   
<!ENTITY ltri   "&#9667;">   
<!ENTITY rtri   "&#9657;">   
<!ENTITY starf  "&#9733;">  

<!ENTITY natur  "&#9838;">  
<!ENTITY rx     "&#8478;">     
<!ENTITY sext   "&#10038;">   

<!ENTITY target "&#8982;"> 
<!ENTITY dlcrop "&#8973;"> 
<!ENTITY drcrop "&#8972;"> 
<!ENTITY ulcrop "&#8975;"> 
<!ENTITY urcrop "&#8974;"> 

<!ENTITY amalg  "&#8705;">  
<!ENTITY Barwed "&#8892;"> 
<!ENTITY barwed "&#8892;"> 
<!ENTITY Cap    "&#8914;">    
<!ENTITY Cup    "&#8915;">    
<!ENTITY cuvee  "&#8910;">  
<!ENTITY cuwed  "&#8911;">  
<!ENTITY diam   "&#8900;">   
<!ENTITY divonx "&#8903;"> 
<!ENTITY intcal "&#8890;"> 
<!ENTITY lthree "&#8907;"> 
<!ENTITY ltimes "&#8905;"> 
<!ENTITY minusb "&#8863;"> 
<!ENTITY oast   "&#8859;">   
<!ENTITY ocir   "&#8858;">   
<!ENTITY odash  "&#8861;">  
<!ENTITY odot   "&#8857;">   
<!ENTITY ominus "&#8854;"> 
<!ENTITY oplus  "&#8853;">  
<!ENTITY osol   "&#8856;">   
<!ENTITY otimes "&#8855;"> 
<!ENTITY plusb  "&#8862;">  
<!ENTITY plusdo "&#8724;"> 
<!ENTITY rthree "&#8908;"> 
<!ENTITY rtimes "&#8906;"> 
<!ENTITY sdot   "&#8901;">   
<!ENTITY sdotb  "&#8865;">  
<!ENTITY setmn  "&#8726;">  
<!ENTITY sqcap  "&#8851;">  
<!ENTITY sqcup  "&#8852;">  
<!ENTITY ssetmn "&#8726;"> 
<!ENTITY sstarf "&#8902;"> 
<!ENTITY timesb "&#8864;"> 
<!ENTITY top    "&#8868;">    
<!ENTITY uplus  "&#8846;">  
<!ENTITY wreath "&#8768;"> 
<!ENTITY xcirc  "&#9711;">  
<!ENTITY xdtri  "&#9661;">  
<!ENTITY xutri  "&#9651;">  
<!ENTITY coprod "&#8720;"> 
<!ENTITY prod   "&#8719;">   
<!ENTITY sum    "&#8721;">    

<!ENTITY rceil  "&#8969;">  
<!ENTITY rfloor "&#8971;"> 
<!ENTITY rpargt "&#65533;"> 
<!ENTITY urcorn "&#8989;"> 
<!ENTITY drcorn "&#8991;"> 
<!ENTITY lceil  "&#8968;">  
<!ENTITY lfloor "&#8970;"> 
<!ENTITY lpargt "&#65533;"> 
<!ENTITY ulcorn "&#8988;"> 
<!ENTITY dlcorn "&#8990;"> 

<!ENTITY gnap   "&#65533;">   
<!ENTITY gne    "&#8809;">    
<!ENTITY gnE    "&#8809;">    
<!ENTITY gnsim  "&#8935;">  
<!ENTITY gvnE   "&#8809;">   
<!ENTITY lnap   "&#65533;">   
<!ENTITY lnE    "&#8808;">    
<!ENTITY lne    "&#8808;">    
<!ENTITY lnsim  "&#8934;">  
<!ENTITY lvnE   "&#8808;">   
<!ENTITY nap    "&#8777;">    
<!ENTITY ncong  "&#8775;">  
<!ENTITY nequiv "&#8802;"> 
<!ENTITY ngE    "&#8817;">    
<!ENTITY nge    "&#8817;">    
<!ENTITY nges   "&#8817;">   
<!ENTITY ngt    "&#8815;">    
<!ENTITY nle    "&#8816;">    
<!ENTITY nlE    "&#8816;">    
<!ENTITY nles   "&#8816;">   
<!ENTITY nlt    "&#8814;">    
<!ENTITY nltri  "&#8938;">  
<!ENTITY nltrie "&#8940;"> 
<!ENTITY nmid   "&#8740;">   
<!ENTITY npar   "&#8742;">   
<!ENTITY npr    "&#8832;">    
<!ENTITY npre   "&#8928;">   
<!ENTITY nrtri  "&#8939;">  
<!ENTITY nrtrie "&#8941;"> 
<!ENTITY nsc    "&#8833;">    
<!ENTITY nsce   "&#8929;">   
<!ENTITY nsim   "&#8769;">   
<!ENTITY nsime  "&#8772;">  
<!ENTITY nsmid  "&#65533;">  
<!ENTITY nspar  "&#8742;">  
<!ENTITY nsub   "&#8836;">   
<!ENTITY nsube  "&#8840;">  
<!ENTITY nsubE  "&#8840;">  
<!ENTITY nsup   "&#8837;">   
<!ENTITY nsupe  "&#8841;">  
<!ENTITY nsupE  "&#8841;">  
<!ENTITY nvdash "&#8876;"> 
<!ENTITY nvDash "&#8877;"> 
<!ENTITY nVDash "&#8879;"> 
<!ENTITY nVdash "&#8878;"> 
<!ENTITY prnap  "&#8936;">  
<!ENTITY prnE   "&#65533;">   
<!ENTITY prnsim "&#8936;"> 
<!ENTITY scnap  "&#8937;">  
<!ENTITY scnE   "&#65533;">   
<!ENTITY scnsim "&#8937;"> 
<!ENTITY subne  "&#8842;">  
<!ENTITY subnE  "&#8842;">  
<!ENTITY supne  "&#8843;">  
<!ENTITY supnE  "&#8843;">  
<!ENTITY vsubne "&#8842;"> 
<!ENTITY vsubnE "&#65533;"> 
<!ENTITY vsupne "&#8843;"> 
<!ENTITY vsupnE "&#8843;"> 

<!ENTITY pi0080 "&#38;#38;pi0080;"> 
<!ENTITY pi0081 "&#38;#38;pi0081;"> 
<!ENTITY pi0082 "&#38;#38;pi0082;"> 
<!ENTITY pi0083 "&#38;#38;pi0083;"> 
<!ENTITY pi0084 "&#38;#38;pi0084;"> 
<!ENTITY pi0085 "&#38;#38;pi0085;"> 
<!ENTITY pi0086 "&#38;#38;pi0086;"> 
<!ENTITY pi0087 "&#38;#38;pi0087;"> 
<!ENTITY pi0088 "&#38;#38;pi0088;"> 
<!ENTITY pi0089 "&#38;#38;pi0089;"> 
<!ENTITY pi008a "&#38;#38;pi008a;"> 
<!ENTITY pi008b "&#38;#38;pi008b;"> 
<!ENTITY pi008c "&#38;#38;pi008c;"> 
<!ENTITY pi008d "&#38;#38;pi008d;"> 
<!ENTITY pi008e "&#38;#38;pi008e;"> 
<!ENTITY pi008f "&#38;#38;pi008f;"> 
<!ENTITY pi0090 "&#38;#38;pi0090;"> 
<!ENTITY pi0091 "&#38;#38;pi0091;"> 
<!ENTITY pi0092 "&#38;#38;pi0092;"> 
<!ENTITY pi0093 "&#38;#38;pi0093;"> 
<!ENTITY pi0094 "&#38;#38;pi0094;"> 
<!ENTITY pi0095 "&#38;#38;pi0095;"> 
<!ENTITY pi0096 "&#38;#38;pi0096;"> 
<!ENTITY pi0097 "&#38;#38;pi0097;"> 
<!ENTITY pi0098 "&#38;#38;pi0098;"> 
<!ENTITY pi0099 "&#38;#38;pi0099;"> 
<!ENTITY pi009a "&#38;#38;pi009a;"> 
<!ENTITY pi009b "&#38;#38;pi009b;"> 
<!ENTITY pi009c "&#38;#38;pi009c;"> 
<!ENTITY pi009d "&#38;#38;pi009d;"> 
<!ENTITY pi009e "&#38;#38;pi009e;"> 
<!ENTITY pi009f "&#38;#38;pi009f;"> 
<!ENTITY pi00a0 "&#38;#38;pi00a0;"> 
<!ENTITY pi00a1 "&#38;#38;pi00a1;"> 
<!ENTITY pi00a2 "&#38;#38;pi00a2;"> 
<!ENTITY pi00a3 "&#38;#38;pi00a3;"> 
<!ENTITY pi00a4 "&#38;#38;pi00a4;"> 
<!ENTITY pi00a5 "&#38;#38;pi00a5;"> 
<!ENTITY pi00a6 "&#38;#38;pi00a6;"> 
<!ENTITY pi00a7 "&#38;#38;pi00a7;"> 
<!ENTITY pi00a8 "&#38;#38;pi00a8;"> 
<!ENTITY pi00a9 "&#38;#38;pi00a9;"> 
<!ENTITY pi00aa "&#38;#38;pi00aa;"> 
<!ENTITY pi00ab "&#38;#38;pi00ab;"> 
<!ENTITY pi00ac "&#38;#38;pi00ac;"> 
<!ENTITY pi00ad "&#38;#38;pi00ad;"> 
<!ENTITY pi00ae "&#38;#38;pi00ae;"> 
<!ENTITY pi00af "&#38;#38;pi00af;"> 
<!ENTITY pi00b0 "&#38;#38;pi00b0;"> 
<!ENTITY pi00b1 "&#38;#38;pi00b1;"> 
<!ENTITY pi00b2 "&#38;#38;pi00b2;"> 
<!ENTITY pi00b3 "&#38;#38;pi00b3;"> 
<!ENTITY pi00b4 "&#38;#38;pi00b4;"> 
<!ENTITY pi00b5 "&#38;#38;pi00b5;"> 
<!ENTITY pi00b6 "&#38;#38;pi00b6;"> 
<!ENTITY pi00b7 "&#38;#38;pi00b7;"> 
<!ENTITY pi00b8 "&#38;#38;pi00b8;"> 
<!ENTITY pi00b9 "&#38;#38;pi00b9;"> 
<!ENTITY pi00ba "&#38;#38;pi00ba;"> 
<!ENTITY pi00bb "&#38;#38;pi00bb;"> 
<!ENTITY pi00c0 "&#38;#38;pi00c0;"> 
<!ENTITY pi00c1 "&#38;#38;pi00c1;"> 
<!ENTITY pi00c2 "&#38;#38;pi00c2;"> 
<!ENTITY pi00c3 "&#38;#38;pi00c3;"> 
<!ENTITY pi00c4 "&#38;#38;pi00c4;"> 
<!ENTITY pi00c5 "&#38;#38;pi00c5;"> 
<!ENTITY pi00c6 "&#38;#38;pi00c6;"> 
<!ENTITY pi00c7 "&#38;#38;pi00c7;"> 
<!ENTITY pi00c8 "&#38;#38;pi00c8;"> 
<!ENTITY pi00c9 "&#38;#38;pi00c9;"> 
<!ENTITY pi00ca "&#38;#38;pi00ca;"> 
<!ENTITY pi00ce "&#38;#38;pi00ce;"> 
<!ENTITY pi00cf "&#38;#38;pi00cf;"> 
<!ENTITY pi00e0 "&#38;#38;pi00e0;"> 
<!ENTITY pi00e1 "&#38;#38;pi00e1;"> 
<!ENTITY pi00e2 "&#38;#38;pi00e2;"> 
<!ENTITY pi00e3 "&#38;#38;pi00e3;"> 
<!ENTITY pi00e4 "&#38;#38;pi00e4;"> 
<!ENTITY pi00e5 "&#38;#38;pi00e5;"> 
<!ENTITY pi00e6 "&#38;#38;pi00e6;"> 
<!ENTITY pi00e7 "&#38;#38;pi00e7;"> 
<!ENTITY pi00e8 "&#38;#38;pi00e8;"> 
<!ENTITY pi00e9 "&#38;#38;pi00e9;"> 
<!ENTITY pi00ea "&#38;#38;pi00ea;"> 
<!ENTITY pi00ef "&#38;#38;pi00ef;"> 
<!ENTITY pi00f0 "&#38;#38;pi00f0;"> 
<!ENTITY pi00f1 "&#38;#38;pi00f1;"> 
<!ENTITY pi00f2 "&#38;#38;pi00f2;"> 
<!ENTITY pi00f3 "&#38;#38;pi00f3;"> 
<!ENTITY pi00f4 "&#38;#38;pi00f4;"> 
<!ENTITY pi00f5 "&#38;#38;pi00f5;"> 
<!ENTITY pi00f6 "&#38;#38;pi00f6;"> 
<!ENTITY pi00f7 "&#38;#38;pi00f7;"> 
<!ENTITY pi0181 "&#38;#38;pi0181;"> 
<!ENTITY pi0182 "&#38;#38;pi0182;"> 
<!ENTITY pi0183 "&#38;#38;pi0183;"> 
<!ENTITY pi0184 "&#38;#38;pi0184;"> 
<!ENTITY pi0185 "&#38;#38;pi0185;"> 
<!ENTITY pi0186 "&#38;#38;pi0186;"> 
<!ENTITY pi0187 "&#38;#38;pi0187;"> 
<!ENTITY pi0188 "&#38;#38;pi0188;"> 
<!ENTITY pi0189 "&#38;#38;pi0189;"> 
<!ENTITY pi018a "&#38;#38;pi018a;"> 
<!ENTITY pi018b "&#38;#38;pi018b;"> 
<!ENTITY pi018c "&#38;#38;pi018c;"> 
<!ENTITY pi018d "&#38;#38;pi018d;"> 
<!ENTITY pi0190 "&#38;#38;pi0190;"> 
<!ENTITY pi0191 "&#38;#38;pi0191;"> 
<!ENTITY pi0192 "&#38;#38;pi0192;"> 
<!ENTITY pi0194 "&#38;#38;pi0194;"> 
<!ENTITY pi0195 "&#38;#38;pi0195;"> 
<!ENTITY pi0196 "&#38;#38;pi0196;"> 
<!ENTITY pi0197 "&#38;#38;pi0197;"> 
<!ENTITY pi0198 "&#38;#38;pi0198;"> 
<!ENTITY pi0199 "&#38;#38;pi0199;"> 
<!ENTITY pi019a "&#38;#38;pi019a;"> 
<!ENTITY pi01a0 "&#38;#38;pi01a0;"> 
<!ENTITY pi01a1 "&#38;#38;pi01a1;"> 
<!ENTITY pi01a2 "&#38;#38;pi01a2;"> 
<!ENTITY pi01a3 "&#38;#38;pi01a3;"> 
<!ENTITY pi01a4 "&#38;#38;pi01a4;"> 
<!ENTITY pi01a5 "&#38;#38;pi01a5;"> 
<!ENTITY pi01a6 "&#38;#38;pi01a6;"> 
<!ENTITY pi01a7 "&#38;#38;pi01a7;"> 
<!ENTITY pi01a8 "&#38;#38;pi01a8;"> 
<!ENTITY pi01a9 "&#38;#38;pi01a9;"> 
<!ENTITY pi01aa "&#38;#38;pi01aa;"> 
<!ENTITY pi01ab "&#38;#38;pi01ab;"> 
<!ENTITY pi01ac "&#38;#38;pi01ac;"> 
<!ENTITY pi01ad "&#38;#38;pi01ad;"> 
<!ENTITY pi01b0 "&#38;#38;pi01b0;"> 
<!ENTITY pi01b1 "&#38;#38;pi01b1;"> 
<!ENTITY pi01b2 "&#38;#38;pi01b2;"> 
<!ENTITY pi01b3 "&#38;#38;pi01b3;"> 
<!ENTITY pi01b4 "&#38;#38;pi01b4;"> 
<!ENTITY pi01b5 "&#38;#38;pi01b5;"> 
<!ENTITY pi01b6 "&#38;#38;pi01b6;"> 
<!ENTITY pi01b7 "&#38;#38;pi01b7;"> 
<!ENTITY pi01b8 "&#38;#38;pi01b8;"> 
<!ENTITY pi01c0 "&#38;#38;pi01c0;"> 
<!ENTITY pi01c1 "&#38;#38;pi01c1;"> 
<!ENTITY pi01c2 "&#38;#38;pi01c2;"> 
<!ENTITY pi01c3 "&#38;#38;pi01c3;"> 
<!ENTITY pi01c4 "&#38;#38;pi01c4;"> 
<!ENTITY pi01c5 "&#38;#38;pi01c5;"> 
<!ENTITY pi01c6 "&#38;#38;pi01c6;"> 
<!ENTITY pi01c7 "&#38;#38;pi01c7;"> 
<!ENTITY pi01c8 "&#38;#38;pi01c8;"> 
<!ENTITY pi01c9 "&#38;#38;pi01c9;"> 
<!ENTITY pi01ca "&#38;#38;pi01ca;"> 
<!ENTITY pi01cb "&#38;#38;pi01cb;"> 
<!ENTITY pi01cc "&#38;#38;pi01cc;"> 
<!ENTITY pi01cd "&#38;#38;pi01cd;"> 
<!ENTITY pi01d0 "&#38;#38;pi01d0;"> 
<!ENTITY pi01d1 "&#38;#38;pi01d1;"> 
<!ENTITY pi01d2 "&#38;#38;pi01d2;"> 
<!ENTITY pi01d5 "&#38;#38;pi01d5;"> 
<!ENTITY pi01d8 "&#38;#38;pi01d8;"> 
<!ENTITY pi01d9 "&#38;#38;pi01d9;"> 
<!ENTITY pi01e2 "&#38;#38;pi01e2;"> 
<!ENTITY pi01e3 "&#38;#38;pi01e3;"> 
<!ENTITY pi01e4 "&#38;#38;pi01e4;"> 
<!ENTITY pi01e5 "&#38;#38;pi01e5;"> 
<!ENTITY pi01e6 "&#38;#38;pi01e6;"> 
<!ENTITY pi01e7 "&#38;#38;pi01e7;"> 
<!ENTITY pi01e8 "&#38;#38;pi01e8;"> 
<!ENTITY pi01e9 "&#38;#38;pi01e9;"> 
<!ENTITY pi01f0 "&#38;#38;pi01f0;"> 
<!ENTITY pi01f1 "&#38;#38;pi01f1;"> 
<!ENTITY pi01f3 "&#38;#38;pi01f3;"> 
<!ENTITY pi01f4 "&#38;#38;pi01f4;"> 
<!ENTITY pi01f6 "&#38;#38;pi01f6;"> 
<!ENTITY pi01f7 "&#38;#38;pi01f7;"> 
<!ENTITY pi01f8 "&#38;#38;pi01f8;"> 
<!ENTITY pi01f9 "&#38;#38;pi01f9;"> 
<!ENTITY pi0284 "&#38;#38;pi0284;"> 
<!ENTITY pi02b0 "&#38;#38;pi02b0;"> 
<!ENTITY pi02c0 "&#38;#38;pi02c0;"> 
<!ENTITY pi02e1 "&#38;#38;pi02e1;"> 
<!ENTITY pi02eb "&#38;#38;pi02eb;"> 
<!ENTITY pi02ec "&#38;#38;pi02ec;"> 
<!ENTITY pi02ed "&#38;#38;pi02ed;"> 
<!ENTITY pi02ee "&#38;#38;pi02ee;"> 
<!ENTITY pi02ef "&#38;#38;pi02ef;"> 
<!ENTITY pi02fb "&#38;#38;pi02fb;"> 
<!ENTITY pi02fc "&#38;#38;pi02fc;"> 
<!ENTITY pi02fd "&#38;#38;pi02fd;"> 
<!ENTITY pi02fe "&#38;#38;pi02fe;"> 
<!ENTITY pi02ff "&#38;#38;pi02ff;"> 
<!ENTITY pi0382 "&#38;#38;pi0382;"> 
<!ENTITY pi0383 "&#38;#38;pi0383;"> 
<!ENTITY pi0384 "&#38;#38;pi0384;"> 
<!ENTITY pi0385 "&#38;#38;pi0385;"> 
<!ENTITY pi0387 "&#38;#38;pi0387;"> 
<!ENTITY pi0388 "&#38;#38;pi0388;"> 
<!ENTITY pi0389 "&#38;#38;pi0389;"> 
<!ENTITY pi0880 "&#38;#38;pi0880;"> 
<!ENTITY pi0881 "&#38;#38;pi0881;"> 
<!ENTITY pi0882 "&#38;#38;pi0882;"> 
<!ENTITY pi0883 "&#38;#38;pi0883;"> 
<!ENTITY pi0887 "&#38;#38;pi0887;"> 
<!ENTITY pi0888 "&#38;#38;pi0888;"> 
<!ENTITY pi0889 "&#38;#38;pi0889;"> 
<!ENTITY pi088a "&#38;#38;pi088a;"> 
<!ENTITY pi088b "&#38;#38;pi088b;"> 
<!ENTITY pi088c "&#38;#38;pi088c;"> 
<!ENTITY pi0890 "&#38;#38;pi0890;"> 
<!ENTITY pi0891 "&#38;#38;pi0891;"> 
<!ENTITY pi0892 "&#38;#38;pi0892;"> 
<!ENTITY pi0893 "&#38;#38;pi0893;"> 
<!ENTITY pi0894 "&#38;#38;pi0894;"> 
<!ENTITY pi0895 "&#38;#38;pi0895;"> 
<!ENTITY pi0896 "&#38;#38;pi0896;"> 
<!ENTITY pi0897 "&#38;#38;pi0897;"> 
<!ENTITY pi0898 "&#38;#38;pi0898;"> 
<!ENTITY pi0899 "&#38;#38;pi0899;"> 
<!ENTITY pi089a "&#38;#38;pi089a;"> 
<!ENTITY pi089b "&#38;#38;pi089b;"> 
<!ENTITY pi089c "&#38;#38;pi089c;"> 
<!ENTITY pi089d "&#38;#38;pi089d;"> 
<!ENTITY pi08a2 "&#38;#38;pi08a2;"> 
<!ENTITY pi08a5 "&#38;#38;pi08a5;"> 
<!ENTITY pi08a6 "&#38;#38;pi08a6;"> 
<!ENTITY pi08a7 "&#38;#38;pi08a7;"> 
<!ENTITY pi08a8 "&#38;#38;pi08a8;"> 
<!ENTITY pi08a9 "&#38;#38;pi08a9;"> 
<!ENTITY pi08b0 "&#38;#38;pi08b0;"> 
<!ENTITY pi08b1 "&#38;#38;pi08b1;"> 
<!ENTITY pi08b2 "&#38;#38;pi08b2;"> 
<!ENTITY pi08b3 "&#38;#38;pi08b3;"> 
<!ENTITY pi08b4 "&#38;#38;pi08b4;"> 
<!ENTITY pi08b5 "&#38;#38;pi08b5;"> 
<!ENTITY pi08b6 "&#38;#38;pi08b6;"> 
<!ENTITY pi08b7 "&#38;#38;pi08b7;"> 
<!ENTITY pi08b8 "&#38;#38;pi08b8;"> 
<!ENTITY pi08b9 "&#38;#38;pi08b9;"> 
<!ENTITY pi08c1 "&#38;#38;pi08c1;"> 
<!ENTITY pi08c2 "&#38;#38;pi08c2;"> 
<!ENTITY pi08c3 "&#38;#38;pi08c3;"> 
<!ENTITY pi08c4 "&#38;#38;pi08c4;"> 
<!ENTITY pi08c5 "&#38;#38;pi08c5;"> 
<!ENTITY pi08c6 "&#38;#38;pi08c6;"> 
<!ENTITY pi08c7 "&#38;#38;pi08c7;"> 
<!ENTITY pi08c8 "&#38;#38;pi08c8;"> 
<!ENTITY pi08c9 "&#38;#38;pi08c9;"> 
<!ENTITY pi08cc "&#38;#38;pi08cc;"> 
<!ENTITY pi08cd "&#38;#38;pi08cd;"> 
<!ENTITY pi08d1 "&#38;#38;pi08d1;"> 
<!ENTITY pi08d2 "&#38;#38;pi08d2;"> 
<!ENTITY pi08d3 "&#38;#38;pi08d3;"> 
<!ENTITY pi08d4 "&#38;#38;pi08d4;"> 
<!ENTITY pi08d5 "&#38;#38;pi08d5;"> 
<!ENTITY pi08d6 "&#38;#38;pi08d6;"> 
<!ENTITY pi08d7 "&#38;#38;pi08d7;"> 
<!ENTITY pi08d8 "&#38;#38;pi08d8;"> 
<!ENTITY pi08d9 "&#38;#38;pi08d9;"> 
<!ENTITY pi08e1 "&#38;#38;pi08e1;"> 
<!ENTITY pi08e2 "&#38;#38;pi08e2;"> 
<!ENTITY pi08e3 "&#38;#38;pi08e3;"> 
<!ENTITY pi08e4 "&#38;#38;pi08e4;"> 
<!ENTITY pi08e5 "&#38;#38;pi08e5;"> 
<!ENTITY pi08e6 "&#38;#38;pi08e6;"> 
<!ENTITY pi08e7 "&#38;#38;pi08e7;"> 
<!ENTITY pi08e8 "&#38;#38;pi08e8;"> 
<!ENTITY pi08e9 "&#38;#38;pi08e9;"> 
<!ENTITY pi08f0 "&#38;#38;pi08f0;"> 
<!ENTITY pi08f1 "&#38;#38;pi08f1;"> 
<!ENTITY pi08f2 "&#38;#38;pi08f2;"> 
<!ENTITY pi08f3 "&#38;#38;pi08f3;"> 
<!ENTITY pi08f4 "&#38;#38;pi08f4;"> 
<!ENTITY pi08f6 "&#38;#38;pi08f6;"> 
<!ENTITY pi08f7 "&#38;#38;pi08f7;"> 
<!ENTITY pi094b "&#38;#38;pi094b;"> 
<!ENTITY pi094c "&#38;#38;pi094c;"> 
<!ENTITY pi094d "&#38;#38;pi094d;"> 
<!ENTITY pi094e "&#38;#38;pi094e;"> 
<!ENTITY pi094f "&#38;#38;pi094f;"> 
<!ENTITY pi0950 "&#38;#38;pi0950;"> 
<!ENTITY pi0951 "&#38;#38;pi0951;"> 
<!ENTITY pi0952 "&#38;#38;pi0952;"> 
<!ENTITY pi0953 "&#38;#38;pi0953;"> 
<!ENTITY pi0954 "&#38;#38;pi0954;"> 
<!ENTITY pi0955 "&#38;#38;pi0955;"> 
<!ENTITY pi0956 "&#38;#38;pi0956;"> 
<!ENTITY pi0957 "&#38;#38;pi0957;"> 
<!ENTITY pi10a2 "&#38;#38;pi10a2;"> 
<!ENTITY pi10b6 "&#38;#38;pi10b6;"> 
<!ENTITY pi10bb "&#38;#38;pi10bb;"> 
<!ENTITY pi10c7 "&#38;#38;pi10c7;"> 
<!ENTITY pi10c8 "&#38;#38;pi10c8;"> 
<!ENTITY pi10c9 "&#38;#38;pi10c9;"> 
<!ENTITY pi10ca "&#38;#38;pi10ca;"> 
<!ENTITY pi10d1 "&#38;#38;pi10d1;"> 
<!ENTITY pi10d2 "&#38;#38;pi10d2;"> 
<!ENTITY pi10d3 "&#38;#38;pi10d3;"> 
<!ENTITY pi10d4 "&#38;#38;pi10d4;"> 
<!ENTITY pi10d5 "&#38;#38;pi10d5;"> 
<!ENTITY pi10d6 "&#38;#38;pi10d6;"> 
<!ENTITY pi10d7 "&#38;#38;pi10d7;"> 
<!ENTITY pi10d8 "&#38;#38;pi10d8;"> 
<!ENTITY pi10d9 "&#38;#38;pi10d9;"> 

<!ENTITY ang    "&#8736;">    
<!ENTITY angmsd "&#8737;"> 
<!ENTITY beth   "&#8502;">   
<!ENTITY bprime "&#8245;"> 
<!ENTITY comp   "&#8705;">   
<!ENTITY daleth "&#8504;"> 
<!ENTITY ell    "&#8467;">    
<!ENTITY empty  "&#8709;">  
<!ENTITY gimel  "&#8503;">  
<!ENTITY image  "&#8465;">  
<!ENTITY inodot "&#305;"> 
<!ENTITY jnodot "&#65533;"> 
<!ENTITY nexist "&#8708;"> 
<!ENTITY oS     "&#9416;">     
<!ENTITY planck "&#295;"> 
<!ENTITY real   "&#8476;">   
<!ENTITY sbsol  "&#65128;">  
<!ENTITY vprime "&#8242;"> 
<!ENTITY weierp "&#8472;"> 

<!ENTITY acy    "&#1072;">    
<!ENTITY Acy    "&#1041;">    
<!ENTITY bcy    "&#1073;">    
<!ENTITY Bcy    "&#1041;">    
<!ENTITY vcy    "&#1074;">    
<!ENTITY Vcy    "&#1042;">    
<!ENTITY gcy    "&#1075;">    
<!ENTITY Gcy    "&#1043;">    
<!ENTITY dcy    "&#1076;">    
<!ENTITY Dcy    "&#1044;">    
<!ENTITY iecy   "&#1077;">   
<!ENTITY IEcy   "&#1045;">   
<!ENTITY iocy   "&#1105;">   
<!ENTITY IOcy   "&#1025;">   
<!ENTITY zhcy   "&#1078;">   
<!ENTITY ZHcy   "&#1046;">   
<!ENTITY zcy    "&#1079;">    
<!ENTITY Zcy    "&#1047;">    
<!ENTITY icy    "&#1080;">    
<!ENTITY Icy    "&#1048;">    
<!ENTITY jcy    "&#1081;">    
<!ENTITY Jcy    "&#1049;">    
<!ENTITY kcy    "&#1082;">    
<!ENTITY Kcy    "&#1050;">    
<!ENTITY lcy    "&#1083;">    
<!ENTITY Lcy    "&#1051;">    
<!ENTITY mcy    "&#1084;">    
<!ENTITY Mcy    "&#1052;">    
<!ENTITY ncy    "&#1085;">    
<!ENTITY Ncy    "&#1053;">    
<!ENTITY ocy    "&#1086;">    
<!ENTITY Ocy    "&#1054;">    
<!ENTITY pcy    "&#1087;">    
<!ENTITY Pcy    "&#1055;">    
<!ENTITY rcy    "&#1088;">    
<!ENTITY Rcy    "&#1056;">    
<!ENTITY scy    "&#1089;">    
<!ENTITY Scy    "&#1057;">    
<!ENTITY tcy    "&#1090;">    
<!ENTITY Tcy    "&#1058;">    
<!ENTITY ucy    "&#1091;">    
<!ENTITY Ucy    "&#1059;">    
<!ENTITY fcy    "&#1092;">    
<!ENTITY Fcy    "&#1060;">    
<!ENTITY khcy   "&#1093;">   
<!ENTITY KHcy   "&#1061;">   
<!ENTITY tscy   "&#1094;">   
<!ENTITY TScy   "&#1062;">   
<!ENTITY chcy   "&#1095;">   
<!ENTITY CHcy   "&#1063;">   
<!ENTITY shcy   "&#1096;">   
<!ENTITY SHcy   "&#1064;">   
<!ENTITY shchcy "&#1097;"> 
<!ENTITY SHCHcy "&#1065;"> 
<!ENTITY hardcy "&#1098;"> 
<!ENTITY HARDcy "&#1066;"> 
<!ENTITY ycy    "&#1099;">    
<!ENTITY Ycy    "&#1067;">    
<!ENTITY softcy "&#1100;"> 
<!ENTITY SOFTcy "&#1068;"> 
<!ENTITY ecy    "&#1101;">    
<!ENTITY Ecy    "&#1069;">    
<!ENTITY yucy   "&#1102;">   
<!ENTITY YUcy   "&#1070;">   
<!ENTITY yacy   "&#1103;">   
<!ENTITY YAcy   "&#1071;">   
<!ENTITY numero "&#8470;"> 

<!ENTITY djcy   "&#1106;">   
<!ENTITY DJcy   "&#1026;">   
<!ENTITY gjcy   "&#1107;">   
<!ENTITY GJcy   "&#1027;">   
<!ENTITY jukcy  "&#1108;">  
<!ENTITY Jukcy  "&#1028;">  
<!ENTITY dscy   "&#1109;">   
<!ENTITY DScy   "&#1029;">   
<!ENTITY iukcy  "&#1110;">  
<!ENTITY Iukcy  "&#1030;">  
<!ENTITY yicy   "&#1111;">   
<!ENTITY YIcy   "&#1031;">   
<!ENTITY jsercy "&#1112;"> 
<!ENTITY Jsercy "&#1032;"> 
<!ENTITY ljcy   "&#1113;">   
<!ENTITY LJcy   "&#1033;">   
<!ENTITY njcy   "&#1114;">   
<!ENTITY NJcy   "&#1034;">   
<!ENTITY tshcy  "&#1115;">  
<!ENTITY TSHcy  "&#1035;">  
<!ENTITY kjcy   "&#1116;">   
<!ENTITY KJcy   "&#1036;">   
<!ENTITY ubrcy  "&#1118;">  
<!ENTITY Ubrcy  "&#1038;">  
<!ENTITY dzcy   "&#1119;">   
<!ENTITY DZcy   "&#1039;">   

<!ENTITY aacgr  "&#940;">  
<!ENTITY Aacgr  "&#902;">  
<!ENTITY eacgr  "&#941;">  
<!ENTITY Eacgr  "&#904;">  
<!ENTITY eeacgr "&#942;"> 
<!ENTITY EEacgr "&#905;"> 
<!ENTITY idigr  "&#970;">  
<!ENTITY Idigr  "&#938;">  
<!ENTITY iacgr  "&#943;">  
<!ENTITY Iacgr  "&#906;">  
<!ENTITY idiagr "&#912;"> 
<!ENTITY oacgr  "&#972;">  
<!ENTITY Oacgr  "&#908;">  
<!ENTITY udigr  "&#971;">  
<!ENTITY Udigr  "&#939;">  
<!ENTITY uacgr  "&#973;">  
<!ENTITY Uacgr  "&#910;">  
<!ENTITY udiagr "&#944;"> 
<!ENTITY ohacgr "&#974;"> 
<!ENTITY OHacgr "&#911;"> 

<!ENTITY alpha    "&#945;">  
<!ENTITY beta     "&#946;">   
<!ENTITY gamma    "&#947;">  
<!ENTITY Gamma    "&#915;">  
<!ENTITY gammad   "&#988;"> 
<!ENTITY delta    "&#948;">  
<!ENTITY Delta    "&#916;">  
<!ENTITY epsi     "&#949;">   
<!ENTITY epsiv    "&#603;">  
<!ENTITY epsis    "&#949;">  
<!ENTITY zeta     "&#950;">   
<!ENTITY eta      "&#951;">    
<!ENTITY thetas   "&#952;"> 
<!ENTITY Theta    "&#920;">  
<!ENTITY thetav   "&#977;"> 
<!ENTITY iota     "&#953;">   
<!ENTITY kappa    "&#954;">  
<!ENTITY kappav   "&#1008;"> 
<!ENTITY lambda   "&#955;"> 
<!ENTITY Lambda   "&#923;"> 
<!ENTITY mu       "&#956;">     
<!ENTITY nu       "&#957;">     
<!ENTITY xi       "&#958;">     
<!ENTITY Xi       "&#926;">     
<!ENTITY pi       "&#960;">     
<!ENTITY piv      "&#982;">    
<!ENTITY Pi       "&#928;">     
<!ENTITY rho      "&#961;">    
<!ENTITY rhov     "&#1009;">   
<!ENTITY sigma    "&#963;">  
<!ENTITY Sigma    "&#931;">  
<!ENTITY sigmav   "&#962;"> 
<!ENTITY tau      "&#964;">    
<!ENTITY upsi     "&#965;">   
<!ENTITY Upsi     "&#978;">   
<!ENTITY phis     "&#966;">   
<!ENTITY Phi      "&#934;">    
<!ENTITY phiv     "&#981;">   
<!ENTITY chi      "&#967;">    
<!ENTITY psi      "&#968;">    
<!ENTITY Psi      "&#936;">    
<!ENTITY omega    "&#969;">  
<!ENTITY Omega    "&#937;">  

<!ENTITY b.alpha  "&#945;">  
<!ENTITY b.beta   "&#946;">   
<!ENTITY b.gamma  "&#947;">  
<!ENTITY b.Gamma  "&#915;">  
<!ENTITY b.gammad "&#988;"> 
<!ENTITY b.delta  "&#948;">  
<!ENTITY b.Delta  "&#916;">  
<!ENTITY b.epsi   "&#949;">   
<!ENTITY b.epsiv  "&#603;">  
<!ENTITY b.epsis  "&#949;">  
<!ENTITY b.zeta   "&#950;">   
<!ENTITY b.eta    "&#951;">    
<!ENTITY b.thetas "&#952;"> 
<!ENTITY b.Theta  "&#920;">  
<!ENTITY b.thetav "&#977;"> 
<!ENTITY b.iota   "&#953;">   
<!ENTITY b.kappa  "&#954;">  
<!ENTITY b.kappav "&#1008;"> 
<!ENTITY b.lambda "&#955;"> 
<!ENTITY b.Lambda "&#923;"> 
<!ENTITY b.mu     "&#956;">     
<!ENTITY b.nu     "&#957;">     
<!ENTITY b.xi     "&#958;">     
<!ENTITY b.Xi     "&#926;">     
<!ENTITY b.pi     "&#960;">     
<!ENTITY b.Pi     "&#928;">     
<!ENTITY b.piv    "&#982;">    
<!ENTITY b.rho    "&#961;">    
<!ENTITY b.rhov   "&#1009;">   
<!ENTITY b.sigma  "&#963;">  
<!ENTITY b.Sigma  "&#931;">  
<!ENTITY b.sigmav "&#962;"> 
<!ENTITY b.tau    "&#964;">    
<!ENTITY b.upsi   "&#965;">   
<!ENTITY b.Upsi   "&#978;">   
<!ENTITY b.phis   "&#966;">   
<!ENTITY b.Phi    "&#934;">    
<!ENTITY b.phiv   "&#981;">   
<!ENTITY b.chi    "&#967;">    
<!ENTITY b.psi    "&#968;">    
<!ENTITY b.Psi    "&#936;">    
<!ENTITY b.omega  "&#969;">  
<!ENTITY b.Omega  "&#937;">  

<!ENTITY acute  "&#180;">  
<!ENTITY breve  "&#728;">  
<!ENTITY caron  "&#711;">  
<!ENTITY cedil  "&#184;">  
<!ENTITY circ   "&#94;">   
<!ENTITY dblac  "&#733;">  
<!ENTITY die    "&#168;">    
<!ENTITY dot    "&#729;">    
<!ENTITY grave  "&#96;">  
<!ENTITY macr   "&#175;">   
<!ENTITY ogon   "&#731;">   
<!ENTITY ring   "&#730;">   
<!ENTITY tilde  "&#732;">  
<!ENTITY uml    "&#168;">    

<!ENTITY aleph  "&#8501;">  
<!ENTITY and    "&#8743;">    
<!ENTITY ang90  "&#8735;">  
<!ENTITY angsph "&#8738;"> 
<!ENTITY ap     "&#8776;">     
<!ENTITY becaus "&#8757;"> 
<!ENTITY bottom "&#8869;"> 
<!ENTITY cap    "&#8745;">    
<!ENTITY cong   "&#8773;">   
<!ENTITY conint "&#8750;"> 
<!ENTITY cup    "&#8746;">    
<!ENTITY equiv  "&#8801;">  
<!ENTITY exist  "&#8707;">  
<!ENTITY forall "&#8704;"> 
<!ENTITY fnof   "&#402;">   
<!ENTITY ge     "&#8805;">     
<!ENTITY iff    "&#8660;">    
<!ENTITY infin  "&#8734;">  
<!ENTITY int    "&#8747;">    
<!ENTITY isin   "&#8712;">   
<!ENTITY lang   "&#12296;">   
<!ENTITY lArr   "&#8656;">   
<!ENTITY le     "&#8804;">     
<!ENTITY minus  "&#8722;">  
<!ENTITY mnplus "&#8723;"> 
<!ENTITY nabla  "&#8711;">  
<!ENTITY ne     "&#8800;">     
<!ENTITY ni     "&#8715;">     
<!ENTITY or     "&#8744;">     
<!ENTITY par    "&#8741;">    
<!ENTITY part   "&#8706;">   
<!ENTITY permil "&#8240;"> 
<!ENTITY perp   "&#8869;">   
<!ENTITY prime  "&#8242;">  
<!ENTITY Prime  "&#8243;">  
<!ENTITY prop   "&#8733;">   
<!ENTITY radic  "&#8730;">  
<!ENTITY rang   "&#12297;">   
<!ENTITY rArr   "&#8658;">   
<!ENTITY sim    "&#8764;">    
<!ENTITY sime   "&#8771;">   
<!ENTITY square "&#9633;"> 
<!ENTITY sub    "&#8834;">    
<!ENTITY sube   "&#8838;">   
<!ENTITY sup    "&#8835;">    
<!ENTITY supe   "&#8839;">   
<!ENTITY there4 "&#8756;"> 
<!ENTITY Verbar "&#8214;"> 

<!ENTITY angst  "&#8491;">  
<!ENTITY bernou "&#8492;"> 
<!ENTITY compfn "&#8728;"> 
<!ENTITY Dot    "&#168;">    
<!ENTITY DotDot "&#8412;"> 
<!ENTITY hamilt "&#8459;"> 
<!ENTITY lagran "&#8466;"> 
<!ENTITY lowast "&#8727;"> 
<!ENTITY notin  "&#8713;">  
<!ENTITY order  "&#8500;">  
<!ENTITY phmmat "&#8499;"> 
<!ENTITY tdot   "&#8411;">   
<!ENTITY tprime "&#8244;"> 
<!ENTITY wedgeq "&#8793;"> 

<!--
        ELEMENT: dummy
        DESCRIPTION: The display text for any TOC level entry.
        COMMENTS: 
 -->

<!ELEMENT dummy (#PCDATA)>


<!--
        ELEMENT: bold
        DESCRIPTION: General typographic markup indicating bold style.
        COMMENTS: 
 -->

<!ELEMENT bold (#PCDATA)>
